<!DOCTYPE html>
<html lang="en">

<head>
  {{> headerlinks}}
</head>

<body>
  {{>navbar}}
  <!--main-header-->
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-10 col-12 mx-auto">
        <div class="row">
          <div class="col-md-6 col-12 main_header_right">
          <figure>
            <img src="./images/blob_img.png" class="img-fluid" alt="Aadil" style="text-align:center">
          </figure>
        </div>
          <!--left side div-->
        <div class="col-md-6 col-12 main_header_left">
          <p>Welcome to Aadil World</p>
          <h1>I am a <span class="txt_color">Mern Stack Enthusiast</span> love to learn technical skills.</h1>
          <a href="/weather"><button>check now</button></a>
        </div>
        </div>
      </div>
    </div>
  </div>
  <!--footer section-->
  {{>footer}}
</body>

</html>
<!-- <div class="col-md-6 col-12 main_header_right">
  <figure >
    <img src="./images/adil.png" class="img-fluid"alt="Aadil" style="text-align:center">
  </figure>
 
  </div> -->
<!-- <div class="col-md-6 col-12 main_header_left">
    <p>Welcome to Aadil World</p>
    <h1>I am a <span class="txt_color">Mern Stack Enthusiast</span> love to learn technical skills.</h1>
    <a href="/weather"><button>check now</button></a>
  </div> -->